<!DOCTYPE html>
<html>
    <head>
        <!-- Browser title -->
        <title>
            Registrar's Office Class Details
        </title>
    </head>
    <body>
        <!-- Registrar's Office Heading -->
        {% include 'header.html' %}
        <hr>
        <h2>Class Details</h2>
        <table id="classDetailsTable" border="1">
            <tbody>
                <tr>
                    <td><strong>Class Id</strong></td>
                    <td>{{coursedetails["classid"]}}</td>
                </tr>
                <tr>
                    <td><strong>Days</strong></td>
                    <td>{{coursedetails["days"]}}</td>
                </tr>
                <tr>
                    <td><strong>Start time</strong></td>
                    <td>{{coursedetails["starttime"]}}</td>
                </tr>
                <tr>
                    <td><strong>End time</strong></td>
                    <td>{{coursedetails["endtime"]}}</td>   
                </tr>
                <tr>
                    <td><strong>Building</strong></td>
                    <td>{{coursedetails["bldg"]}}</td>
                </tr>
                <tr>
                    <td><strong>Room</strong></td>
                    <td>{{coursedetails["roomnum"]}}</td>
                </tr>
            </tbody>
            </table>
        <h2>Course Details</h2>
        <table id="courseDetailsTable" border="1">
            <tbody>
                <tr>
                    <td><strong>Course Id</strong></td>
                    <td>{{coursedetails["courseid"]}}</td>
                </tr>
                {% for dept_dict in coursedetails["deptcoursenums"] %}
                    <tr>
                        <td><strong>Dept and Number</strong></td>
                        <td>{{dept_dict["dept"]}} {{dept_dict["coursenum"]}}</td>
                    </tr>
                {% endfor %}
                <tr>
                    <td><strong>Area</strong></td>
                    <td>{{coursedetails["area"]}}</td>
                </tr>
                <tr>
                    <td><strong>Title</strong></td>
                    <td>{{coursedetails["title"]}}</td>   
                </tr>
                <tr>
                    <td><strong>Description</strong></td>
                    <td>{{coursedetails["descrip"]}}</td>
                </tr>
                <tr>
                    <td><strong>Prerequisites</strong></td>
                    <td>{{coursedetails["prereqs"]}}</td>
                </tr>
                {% for prof in coursedetails["profnames"] %} 
                    <tr>
                        <td><strong>Professor</strong></td>
                        <td>{{prof}}</td>
                    </tr>
                {% endfor %}
            </tbody>
            </table>
            <hr>
    </body>
</html>