html, body {
    min-height: 100%;
    margin: 0;
}

header {
   background-color:navy

}

form-cell {
    float:left;
    margin-right: 30px;
}

footer {
    text-align: center;
    font-size: 15px;
    background-color:navy
}